

.character {
 background-color: rgb(209, 66, 66);
}

.speech {
  background-color: rgb(102, 255, 102);
}
.scene{
  background-color: rgb(77, 121, 255);
}
.time {
  background-color: rgb(106, 89, 244);
}
.set {
  background-color: rgb(31, 209, 192);
}
.comment {
  background-color: rgb(148, 148, 148);
}
.title {
  background-color: rgb(241, 181, 0);
}
.camera {
  background-color: rgb(162, 69, 168);
}
.thing {
  background-color: rgb(11, 150, 48);
}
.regie{
  /*Room for notes*/
}
